html {
    background-color: rgb(24, 24, 21);
    color: rgb(187, 208, 93);
    font-family: 'Google Sans Code', monospace;
    font-size: .95rem;
}

h1 {
    display: unset;
}

.hidden {
    color: rgb(20, 20, 20);
}

.id {
    text-align: center;
}